[Unit]
Description=Radar Scan
After=network.target

[Service]
Type=simple

User=pi
Group=pi
SupplementaryGroups=dialout gpio audio

WorkingDirectory=/opt/app

Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=PULSE_SERVER=unix:/run/user/1000/pulse/native
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus

ExecStart=/opt/app/radarScan

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target


